//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
  &._form-focus {
  }
  &._form-error {
  }
}

.input-grey {
  @include adaptiveValue("height", 59, 52);
  width: 100%;
  display: block;
  border-radius: toRem(30);
  background: rgba(255, 255, 255, 0.2);
  border: toRem(1) solid transparent;

  color: #fff;
  font-size: toRem(22);

  padding: 0 toRem(20);

  &:focus {
    outline: none;
    border-color: #000;
  }
}

//========================================================================================================================================================

.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}
