// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

.contact {
  display: flex;
  align-items: center;
  column-gap: toRem(12);
  &__ico {
    font-size: toRem(27);
    color: #57899f;
  }

  &__content {
  }

  &__title {
    color: #727272;
    font-size: 17px;
    line-height: 100%; /* 22/17 */
  }

  &__link {
    color: #262626;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%; /* 26/20 */
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #57899f;
      }
    }
  }
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================
