//====================================================================================================

.hero {
  position: relative;
  &__container {
    max-width: toRem(1665);
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: toRem(40);
    padding: toRem(100) 0 toRem(75);

    min-height: calc(100svh - var(--header-height));

    @media (max-width: $mobile) {
      text-align: center;
    }
  }

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 70, 35);
    font-weight: 500;
    line-height: 100%; /* 45.714% */
  }

  &__content {
    display: flex;
    flex-direction: column;

    @media (min-width: $mobile) {
      max-width: toRem(740);
      margin-left: auto;
    }
  }

  &__content-title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 20);
    }
  }

  &__text {
    color: #fff;
    max-width: toRem(536);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 35, 20);
    }
  }

  &__button {
    width: fit-content;
    align-self: center;
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
  }
}

//====================================================================================================

.about {
  @include adaptiveValue("padding-top", 85, 35);
  &__container {
  }

  &__title {
    text-align: center;
    @include adaptiveValue("font-size", 50, 23);

    @media (max-width: $mobile) {
      line-height: 110%;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }

  &__text {
    text-align: center;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__image-ibg {
    border-radius: toRem(195) toRem(195) 0 0;
    overflow: hidden;
    padding-bottom: percent(370, 1180);

    @media (max-width: $mobile) {
      margin: 0 toRem(-15);
      border-radius: toRem(70) toRem(70) 0 0;
    }
  }
}

//========================================================================================================================================================

.advertising {
  background: #57899f;
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 80, 35);
  &__container {
  }

  &__title {
    text-align: center;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 55, 30);
    }
  }

  &__items {
    @include adaptiveValue("column-gap", 75, 15, 0, 1210, 767);
    display: grid;

    @media (min-width: em(860)) {
      grid-template-columns: repeat(auto-fill, minmax(toRem(400), 1fr));
    }
  }

  &__item {
  }
}

.item-advertising {
  padding: toRem(30) 0;

  @media (min-width: em(860)) {
    border-top: toRem(1) solid rgba(227, 227, 227, 0.32);
    &:nth-child(1),
    &:nth-child(2) {
      border-top: none;
    }
  }
  @media (max-width: em(860)) {
    &:not(:last-child) {
      border-bottom: toRem(1) solid rgba(227, 227, 227, 0.32);
    }
  }
  &__top {
    display: flex;
    align-items: center;
    column-gap: toRem(17);

    margin-bottom: toRem(17);

    @media (max-width: $mobile) {
      column-gap: toRem(15);
      margin-bottom: toRem(10);
    }
  }

  &__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("width", 71, 50, 0, 767, 375);
    @include adaptiveValue("height", 71, 50, 0, 767, 375);
    @include adaptiveValue("flex-basis", 71, 50, 0, 767, 375);
    flex-shrink: 0;
    flex-grow: 0;

    background-color: #fbfbfb;
    border-radius: 50%;

    padding: toRem(15);

    img {
      max-width: 100%;
    }
  }

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 32, 22);
    line-height: 103.1%; /* 33/32 */
    text-transform: uppercase;
  }

  &__text {
    color: #c7cacb;

    padding-left: toRem(88);
    @media (max-width: $mobile) {
      @include adaptiveValue("padding-left", 81, 65, 0, 767, 375);
    }
  }
}

//========================================================================================================================================================

.servise {
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 80, 35);

  &_reverse {
    background-color: #57899f;
  }
  &__container {
  }

  &__body {
    display: flex;
    @include adaptiveValue("column-gap", 75, 15, 0, 1210, 767);
    row-gap: toRem(25);

    @media (max-width: $mobile) {
      flex-direction: column;
    }

    .servise_reverse & {
      @media (min-width: $mobile) {
        flex-direction: row-reverse;
      }
    }
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include adaptiveValue("gap", 25, 15);
  }

  &__title {
    .servise_reverse & {
      color: #fff;
    }
  }

  &__text {
    .servise_reverse & {
      color: #c7cacb;
    }
  }

  &__button {
    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__image-ibg {
    flex: 0 0 percent(555, 1180);
    border-radius: toRem(15);
    overflow: hidden;
    height: fit-content;
    padding-bottom: percent(483, 1180);

    @media (max-width: $mobile) {
      padding-bottom: percent(300, 345);
    }
  }
}

//========================================================================================================================================================

.partners {
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 80, 35);
  &__container {
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;

    @media (min-width: $mobile) {
      &.swiper-wrapper {
        display: grid;
        @include adaptiveValue("column-gap", 80, 15);
        @include adaptiveValue("row-gap", 35, 20);
        grid-template-columns: repeat(5, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(toRem(160), 1fr));
      }
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }
}

//========================================================================================================================================================

.team {
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 80, 35);
  &__container {
  }

  &__title {
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__items {
    display: grid;
    @include adaptiveValue("gap", 20, 10);
    grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));

    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
  }
}

.item-team {
  border-radius: toRem(15);
  background: #f2f2f2;

  padding: toRem(24) toRem(15);
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;

  @media (max-width: $mobile) {
    padding: toRem(20) toRem(10);
  }

  &__img-ibg {
    @include adaptiveValue("width", 181, 125);
    @include adaptiveValue("height", 181, 125);
    flex-shrink: 0;
    border-radius: toRem(50);
    overflow: hidden;

    margin-bottom: toRem(13);
  }

  &__name {
    flex: 1 1 auto;
    color: #262626;
    @include adaptiveValue("font-size", 22, 17);
    font-weight: 500;
    line-height: 125.5%; /* 32/22 */
  }

  &__place {
    color: #727272;
    @include adaptiveValue("font-size", 19, 16);
    line-height: 126.3%; /* 24/19 */
  }
}
